
  body, h1, h2, h3, h4, p, ul, li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: #0D1B2A;
    color: white;
    font-family: "HelveticaNeue-Regular", Helvetica, sans-serif;
    line-height: 1.6;
    padding: 20px;
    align-items: start;
    height: 100vh; 
    display: flex;
    justify-content: flex-start; 
    margin: 0;

  }

  .container{
    max-width: 800px;
    margin: 0;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: none;

    text-align: center;
    margin: 0 auto; /* Centers the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1{
    font-size: 24px;
    margin-bottom: 10px;
    color: #00A6FB;;
    text-align: center;
    margin-bottom: 20px;
  }

  h2{
    font-size: 20px;
    color: #00A6FB;;
    margin-bottom: 20px;
  }

  p{
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
    color: #D9E2EC;
  }



  @media (max-width: 600px){
    .container{
      width: 90%;
      padding: 20px;
    }

  }

  .button {
    display: inline-block; /* Ensure it behaves like a block element */
    width: auto; /* Set the width to auto so it resizes based on content */
    padding: 12px 20px 12px 20px; /* Add more padding for a button feel */
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #00A6FB; /* Set the button color */
    color: white;
    font-weight: bold;
    text-decoration: none; /* Remove underline from the links */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    font-size: 12px;
  }

.button:hover {
    background-color: #0086C7; /* Darker shade on hover */
}
button.button {
  border: none;
  outline: none;
  padding:14px 20px 16px 20px;

}

.header{
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%); /* Centers the header horizontally */
  padding: 20px;
  text-align: center;
  background: #0D1B2A;
  height: 200px;
  display: flex;
  flex-direction: column; /* Stack image and text vertically */
  justify-content: center; /* Centers content vertically */
  align-items: center;

}
.header p{
  text-align: center;
}
.box{
  display: flex;
  flex:1;
  margin-top: 400px;
}
.leftcol {   
  
  width: 25%;
  margin-top: 25px;
}

.leftcol a {
  color: #00A6FB; /* Link color */
  text-decoration: none; /* Remove underline */
  font-size: 18px; /* Font size for the links */
}

.leftcol a:hover {
  color: #0086C7; /* Hover color */
}
.mainContent {   
  flex: 1;
  width: 75%;
  left: 35%;
  margin-top: 25px;
  margin-top: 220px; /* Ensures main content starts below the fixed header */
  overflow: auto;
}
.viewTable {
  overflow: auto;
  height:300px;
  width:565px;
}
table {
  border: 1px solid white;
  width:550px;
}
td{
  font-weight: bold;
  border: 1px solid white;
  padding: 5px;
  text-align: center;
  
}
